.top_wrapper{
  display: flex;
  margin-top: 2rem;

  .user_intercation{
    width: 35%;
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;

    .user_button{
      padding: 10px;
      background-color: white;
      border-style: none;
      font-size: 15px;
      border-color: white;
      border-width: 0;
      border-radius: 4px;
      outline: 0;

      &:focus{
        background-color: hsl(201, 100%, 13%);;
        color: white;
      }
    }
  }

  .white_space{
    width: 20%;
  }

  .user_search{
    width: 40%;
    margin: auto 2rem auto 0;
    .user_input{
      margin: auto;
    }
    input{
      width:-webkit-fill-available;
      padding: 10px;
      box-sizing : border-box;
      font-size: 1.3rem;
      border: 1px solid #99999991;
    }
  }
}

.bottom_wrapper{
  display: flex;
  .table_main{
    width: 80%;
    height: calc(100vh - 65px);
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .details_page{
    width: 20%;
    height: calc(100vh - 65px);
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}
