<div class="top_wrapper">
  <div class="user_intercation">
    <div class="button_wrapper">
      <button [ngClass]="{'selected_button': defaultSelectedTab, 'user_button': !defaultSelectedTab}" (click)="defaultSelectedTab = true">
        <a>
          <i class="fa fa-list-ul" aria-hidden="true"></i><span style="margin-left: 10px;letter-spacing: 1px;">SAVED LISTS</span>
        </a>
      </button>
      <button class="user_button" (click)="defaultSelectedTab = false">
        <a>
          <i class="fa fa-filter" aria-hidden="true"></i><span style="margin-left: 10px;letter-spacing: 1px;">SAVED FILTERS</span>
        </a>
      </button>
      <button class="user_button" (click)="defaultSelectedTab = false">
        <a>
          <i class="fa fa-history" aria-hidden="true"></i><span style="margin-left: 10px;letter-spacing: 1px;">SEARCH HISTORY</span>
        </a>
      </button>
    </div>
  </div>
  <div class="white_space"></div>
  <div class="user_search">
    <div class="user_input">
      <input class="" type="text" name="" placeholder="Search" (input)="getSearchData($event)">
    </div>
  </div>
</div>

<div class="bottom_wrapper">
  <app-main-table class="table_main" [tableData]="dummyData" (selectedDetails)="getSelectDetails($event)"></app-main-table>
  <app-details class="details_page" [selectedDetails]="selectedDetails"></app-details>
</div>
