<div class="main_table_wrapper">
  <div>
    <table style="width: 100%;">
      <thead>
        <tr>
          <th class="head_1">Date</th>
          <th class="head_2">List Name</th>
          <th class="head_3">No. of Entities</th>
          <th></th>
          <th class="head_4">Actions</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of tableData| search: query; let first = first; let i = index"  [ngClass]="{'selected_list': selectedList && i == 0}" (click)="selectedList = false">
          <td class="cell_1">{{ data.date }}</td>
          <td class="cell_2">{{ data.list_names }}</td>
          <td class="cell_3" *ngIf="data.enteries != null">{{ data.enteries }}</td>
          <td class="cell_3" *ngIf="data.enteries === null">0</td>
          <td></td>
          <td class="cell_4">
            <i class="fa fa-envelope-open"></i>
            <i class="fa fa-share-alt" style="margin-left: 1rem;"></i>
            <i class="fa fa-pencil" style="margin-left: 1rem;"></i>
            <i class="fa fa-trash" style="margin-left: 10px;"></i>
          </td>
          <td class="cell_5" style="padding: unset;"><span class="yo" (click)="getDetails(data.id)">Details</span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
